table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.alert {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 10px;
}
/* Table Rows */
table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #eaeaea;
}
/* Table Header */
table th {
    background-color: #f2f2f2;
}
