<!DOCTYPE html>
<html>
<head>
    <title>Add Item to Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h2>Add Item to Inventory</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/add_item">
        <label for="food_type">Food Type:</label>
        <input type="text" id="food_type" name="food_type" required>
        <br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br><br>
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" required>
        <br><br>
        <input type="submit" value="Add Item">
    </form>
</body>
</html>
