<!DOCTYPE html>
<html>
<head>
    <title>Food Donation Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='donate.css') }}">

</head>
<body>
    <h2>Food Donation Form</h2>
    <form method="POST" action="/donate">
        <div class="don">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        <br><br>    
        <label for="food_type">Food Type:</label>
        <input type="text" id="food_type" name="food_type" required>
        <br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br><br>
        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" required>
        <br><br>
        <label for="handling_instructions">Handling Instructions:</label>
        <textarea id="handling_instructions" name="handling_instructions" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value=" Donation Now">
        <!--<button onclick="history.back(-1)" style="margin-left: 47%; background-color:blue;color:white; border-radius: 20px; height:30px; width: 100px;">Go Back</button>-->
        </div>
    </form>
</body>
</html>
