<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 style="margin-left:30%;font-size: 50px;">Food Donation</h1>
        <h2>Available Food Items for donation</h2>
{% if donations %}
   <table>
        <tr>
            <th>Food Item</th>
            <th>Quantity</th>
            <th>Expiration Date</th>
            <th>Handling Instructions</th>
            <th>Location</th>
        </tr>
        {% for donations in donations %}
        <tr>
            <td>{{ donations[0] }}</td>
            <td>{{ donations[1] }}</td>
            <td>{{ donations[2] }}</td>
            <td>{{ donations[3] }}</td>
            <td>{{ donations[4] }}</td>
        </tr>    
        {% endfor %}
    </table> 
    {% else %} 
    <p>No food items available in the donation</p>
{% endif %}        
</body>
</html
